node_modules/

# Next.js
.next/
out/

# Strapi
.strapi/
dist/
.strapi-updater.json

# Files that may contain secrets
*.env
.env.*
!.env.example
cms/types

*.tsbuildinfo

# Storybook
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*storybook.log
storybook-static

