.card {
  block-size: 100%;
  inline-size: 100%;
  padding-block: var(--ams-space-s);
  padding-inline: var(--ams-space-s);
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: var(--ams-space-xs) var(--ams-space-xs) 0 0
      var(--ams-color-text);
  }
}

.card__description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card__footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-block-start: var(--ams-space-m);
  position: relative;
  z-index: 1;
}
