.app-header__search-item {
  align-items: center;
  display: flex;
  flex: 1 1 8rem;
  inline-size: 14rem;
  max-inline-size: 100%;
  min-inline-size: 0;
  padding-inline: var(--ams-space-xs);
}

@media (width >= 72.5rem) {
  .app-header__search-item {
    flex: 0 0 14rem;
  }
}
