.linkActive {
  background-color: var(--navigation-link-active-background-color);
}

.label {
  display: block;
}

.shortcut {
  display: none;
}

.menu {
  padding-block-end: var(--ams-space-l) !important;
  padding-block-start: var(--ams-space-l) !important;
}

@media (width >= 72.5rem) {
  .shortcut {
    display: flex;
    gap: var(--ams-space-xs);
    justify-content: center;
    opacity: 55%;

    kbd {
      background-color: var(--navigation-shortcut-background-color);
      font-family: ui-monospace, monospace;
      font-size: var(--ams-typography-body-text-small-font-size);
      font-weight: 400;
      line-height: 1;
      padding-block: var(--ams-space-xs);
      padding-inline: var(--ams-space-xs);
    }
  }
}
