.idea-detail__stories-container {
  margin-block-start: var(--ams-space-l);
}

.idea-detail__stories {
  margin-block-start: var(--ams-space-m);
}

.idea-detail__story-content {
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-xs);
  padding-block: var(--ams-space-xs);
}

.idea-detail__story-date {
  display: flex;
}

.idea-detail__header {
  align-items: flex-start;
  display: flex;
  gap: var(--ams-space-m);
  justify-content: space-between;
  margin-block-end: var(--ams-space-m);
}
