.story-detail__features-container {
  margin-block-start: var(--ams-space-l);
}

.story-detail__features {
  margin-block-start: var(--ams-space-m);
}

.story-detail__feature-content {
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-xs);
  padding-block: var(--ams-space-xs);
}

.story-detail__feature-date {
  display: flex;
}

.story-detail__details {
  display: grid;
  gap: var(--ams-space-xs) var(--ams-space-m);
  grid-template-columns: max-content 1fr;

  dt,
  dd {
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
  }
}

.story-detail__header {
  align-items: flex-start;
  display: flex;
  gap: var(--ams-space-m);
  justify-content: space-between;
  margin-block-end: var(--ams-space-m);
}
